In [9]:
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader
from torch.utils.data import random_split
from torchvision.datasets import MNIST
from torchvision import transforms
import pytorch_lightning as pl

In [2]:
import os
x = os.walk(".")
# [print(y) for y in x]

In [3]:
!ls

sample_submission.csv			test.csv  train.csv
tabular-playground-series-mar-2021.zip	toolbox   Untitled.ipynb

In [4]:
train,test = pd.read_csv('./train.csv'),pd.read_csv('./test.csv')

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 32 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cat10   300000 non-null  object
 12  cat11   300000 non-null  object
 13  cat12   300000 non-null  object
 14  cat13   300000 non-null  object
 15  cat14   300000 non-null  object
 16  cat15   300000 non-null  object
 17  cat16   300000 non-null  object
 18  cat17   300000 non-null  object
 19  cat18   300000 non-null  object
 20  cont0   300000 non-null  float64
 21  cont1   300000 non-null  float64
 22  cont2   300000 non-null  float64
 23  cont3   300000 non-null  float64
 24  cont4   300000 non-null  float64
 25  cont5   300000 non-null  float64
 26  cont6   300000 non-null  float64
 27  cont7   300000 non-null  float64
 28  cont8   300000 non-null  float64
 29  cont9   300000 non-null  float64
 30  cont10  300000 non-null  float64
 31  target  300000 non-null  int64
dtypes: float64(11), int64(2), object(19)
memory usage: 73.2+ MB

In [6]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [7]:
for c in train.select_dtypes('object'): print(c,train[c].nunique())

cat0 2
cat1 15
cat2 19
cat3 13
cat4 20
cat5 84
cat6 16
cat7 51
cat8 61
cat9 19
cat10 299
cat11 2
cat12 2
cat13 2
cat14 2
cat15 4
cat16 4
cat17 4
cat18 4

In [8]:
categoricals_to_ix = {}

for c in train.select_dtypes('object'):
    categoricals_to_ix[c] = {i:cat for i,cat in enumerate(train[c].unique())}

print(categoricals_to_ix['cat7'])

{0: 'S', 1: 'W', 2: 'E', 3: 'Y', 4: 'G', 5: 'AV', 6: 'AF', 7: 'AK', 8: 'AH', 9: 'AN', 10: 'J', 11: 'H', 12: 'U', 13: 'AG', 14: 'AS', 15: 'AA', 16: 'B', 17: 'F', 18: 'AI', 19: 'K', 20: 'AD', 21: 'D', 22: 'N', 23: 'I', 24: 'AW', 25: 'AY', 26: 'AX', 27: 'L', 28: 'AL', 29: 'C', 30: 'R', 31: 'P', 32: 'AU', 33: 'O', 34: 'AR', 35: 'AO', 36: 'AE', 37: 'AP', 38: 'A', 39: 'V', 40: 'Q', 41: 'AQ', 42: 'X', 43: 'BA', 44: 'AM', 45: 'AC', 46: 'M', 47: 'AT', 48: 'T', 49: 'AB', 50: 'AJ'}